/*
	Son Nguyen
	Evan
	
	Hack U 2012

*/

body {
	font-family: 'Press Start 2P', cursive;
	background-color: white;
	text-align: center;
	background-color: rgb(80,39,113);
	background-color: black;
	background-image: url("../img/background.jpg");	
	background-position: bottom center;
	background-repeat: no-repeat;
}

.banner{
	border: black solid 1px;
	border-radius: 10px;
	background-color: rgb(188,122,196);
	height: 30px;
	padding: 10px;
	font-size: 2em;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

#heading {
	margin-top: 20px;
	margin-bottom: 40px;
	width: 775px;
}

div {
	border-radius: 10px;
}

#gameover{
	position: absolute;
	top: 25%;
	left: 20px;
	width: 80%;
}

#main {
	position: relative;
	width: 800px;
	margin: auto;
}

#mainbox { 
	width: 320px;
	height: 544px;
	border: black solid 2px;
	text-align: center;
	margin: auto;
	
/* 	background-color: rgb(144,126,188); */
/* 	background-color: transparent; */
	
	position: relative;
	overflow: hidden;
}

#leftsidebar, #rightsidebar {
	border: black solid 2px;
	width: 200px;
	height: 400px;
	display: inline;
	background-color: #DBC0F0;
}

#leftsidebar {
	float: left;
	position: relative;
}

#rightsidebar {
	float: right;	
	position: relative;
}

#nextpiecebox {	
	width: 160px;
	height: 128px;
	/*border: black solid 2px;*/
	overflow: hidden;
	/*margin: auto;*/
	margin-bottom: 35px;
}

#scorebox {
	text-align: center;	
}

#score {
	margin: auto;
	font-size: 15pt;
	padding: 15px;
}

.sidebarbox {
	width: 80%;
	border: black solid 2px;
	margin: auto;
	background-color: white;
	clear: left;
	clear: right;
	margin-bottom: 15px;
}

#settings span {
	text-align: center;
	font-size: small;
	padding: 5px;
}

.grid {
	width: 30px;
	height: 30px;
	display: inline;
	float: left;
	
	border: #F2F2F2 solid 1px;
	border-radius: 0px;

}
.nextGrid{
	width: 30px;
	height: 30px;
	display: inline;
	float: left;
	
	border: #F2F2F2 solid 1px;
	border-radius: 0px;
}

.on {
	background-color: rgb(104,144,216);	
}

.off {
	background-color: white;
}

.on.red {
	background-color: rgb(242,61,98);	
}

.on.orange {
	background-color: rgb(255,132,45);	
}

.on.yellow {
	background-color: rgb(255,197,64);	
}

.on.green {
	background-color: rgb(127,211,65);	
}

.on.blue {
	background-color: rgb(16,180,249);	
}

.on.navy {
	background-color: rgb(45,113,224);	
}

.on.purple {
	background-color: rgb(201,45,171);	
}

.test{
	background-color: rgb(104,144,216);
}

#w3c {
	text-align: right;
}